:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 47px;
    padding: 5px;
    margin: 2rem;
    border-radius: 8px;
    color: var(--text-100);
    background-color: white;
}
