<h2>{{ question.label }}</h2>

@if(question.answerType === 'choice' || question.answerType ===
'multiple-choice' ){
<mat-radio-group aria-label="Select an option" [(ngModel)]="answer">
  @for (choice of question.choices; track choice) {
  <div class="choice">
    <span>{{ choice }}</span
    ><mat-radio-button
      color="primary"
      labelPosition="before"
      [value]="choice"
    ></mat-radio-button>
  </div>
  }
</mat-radio-group>
} @else if(question.answerType ==='text'){
<mat-form-field appearance="outline">
  <mat-label>Votre réponse</mat-label>
  <input type="text" matInput [(ngModel)]="answer" />
</mat-form-field>
}
<app-button
  (clicked)="onClick()"
  [disabled]="!answer"
  value="Valider"
></app-button>
