:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 20%;
  width: 70%;
  margin: 2rem auto;
  height: calc(100% - 300px);
}

h2 {
  width: 100%;
}

mat-radio-group {
  display: grid;
  row-gap: 1.5rem;
  width: 100%;
  column-gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 2fr));
  > .choice {
    display: flex;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--light-blue);
    align-items: center;
    justify-content: space-between;
  }
}

mat-form-field {
  width: 70%;
}

.mdc-form-field {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  justify-content: space-between;
}
